{namespace deployment=\TYPO3\Deployment\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="content">

    <f:form.errors>
        <div class="error">
            <strong>{error.propertyName}</strong>:
            <f:for each="{error.errors}" as="errorDetail">{errorDetail.message}</f:for>
        </div>
    </f:form.errors>
    
    <style>
        .table{
            border-collapse: collapse; 
            border: 1px solid #000;
            max-width: 850px;
        }
        .column{
            border: 1px solid #000;
            padding: 3px;
        }
        .space{
            width: 90px;
        }
    </style>

    <f:debug>{historyEntries}</f:debug><br />
    <f:form action="deploy" name="deploy" object="{deploy}">
        <b>Gesamtdatensätze: </b><f:count>{historyEntries}</f:count><br /><br />
         <table class="table">
            <tr class="column">
                <th class="column">&nbsp;</th>
                <th class="column">ID-Infos</th>
                <th class="column">Timestamp</th>
                <th class="column">Table</th>
                <th class="column">Old Record</th>
                <th class="column">New Record</th>
            </tr>
            <f:for each="{historyEntries}" as="entry">
                <tr class="column">
                    <td class="column"><f:form.checkbox name="uid" value="{entry.uid}"/></td>
                    <td class="column space">
                        UID: {entry.uid}<br/>
                        Log-UID: {entry.sysLogUid}<br />
                        Rec-UID: {entry.recuid}
                    </td>
                    <td class="column"><f:format.date format="d.m.Y H:i:s">{entry.tstamp}</f:format.date></td>
                    <td class="column">{entry.tablename}</td>
                    <td class="column">{entry.historyData.oldRecord.bodytext}</td>
                    <td class="column">{entry.historyData.newRecord.bodytext}</td>
                </tr>
            </f:for>
        </table><br />

        <f:form.submit value="Deployen"/>
    </f:form>


</f:section>
