<table class="table">
    <tr class="column">
        <td class="column">
            <h4>Create database dump</h4><br />
            <p>Create a database dump from this TYPO3 instance 
            and save it under fileadmin.</p><br />
            <f:form action="createDatabaseDump" name="createDbDump">
                <f:form.submit value="Execute" />   
            </f:form>
        </td>
    </tr>
    <tr class="column">
        <td class="column">
            <h4>Insert database dump</h4><br />
            <p>Insert the created database dump into the TYPO3 database.</p><br />
            <f:form action="boundlessBackdeployment" name="bbDeployment">
                <f:form.submit value="Execute" onclick="return confirm('The database will be replaced!');" />
            </f:form>
        </td>
    </tr>
</table>