<f:form action="clearFailures" name="failure" object="{failure}">
    <br />
    <b>Zu überprüfende Einträge: </b><f:count>{failureEntries}</f:count><br /><br />
   
    <table class="table2 typo3-dblist">
        <tr class="t3-row-header">
            <th>Selection</th>
            <th class="th-spacer3">Differences</th>
        </tr>
        <f:for each="{diff}" as="diffEntry">
            <tr>
                <td>
            <f:form.checkbox property="failureEntries" value="list.{diffEntry.tablename}.{diffEntry.uuid}" id="failurecheckbox_{diffEntry.uuid}" class="failure-checkbox" />&nbsp;Listeneintrag (<span class="green">grün</span>) verwenden<br />
                    <f:form.checkbox property="failureEntries" value="database.{diffEntry.tablename}.{diffEntry.uuid}" id="databasecheckbox_{diffEntry.uuid}" class="database-checkbox" />&nbsp;Datenbankeintrag (<span class="red">rot</span>/schwarz) verwenden
                </td>
            <td>
                <table class="table3">
                    <f:for each="{diffEntry}" as="entry" key="key">
                        <tr class="db_list_normal"><td><b>{key}: </b></td><td><f:format.raw>{entry}</f:format.raw></td></tr>
                    </f:for>
                </table>
            </td>
            </tr>
        </f:for>
    </table>
    <f:form.submit value="Einträge korrigieren" /> 
</f:form>


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">

$.noConflict();
jQuery('document').ready(function() {
    
    jQuery('.failure-checkbox').click(function() {
        var failuresplit = jQuery(this).attr('id').split('_');
        var uuid = failuresplit[1];
        if(jQuery('#databasecheckbox_'+uuid).attr('disabled') == 'disabled'){
            jQuery('#databasecheckbox_'+uuid).removeAttr('disabled');
        } else {
            jQuery('#databasecheckbox_'+uuid).attr('disabled', 'disabled');
        }
    });
    
    jQuery('.database-checkbox').click(function() {
        var split = jQuery(this).attr('id').split('_');
        var uuid = split[1];
        if(jQuery('#failurecheckbox_'+uuid).attr('disabled') == 'disabled'){
            jQuery('#failurecheckbox_'+uuid).removeAttr('disabled');
        } else {
            jQuery('#failurecheckbox_'+uuid).attr('disabled', 'disabled');
        }
    });
    
});

</script>