<f:form action="clearFailures" name="failure" object="{failure}">
    <br />
    <b>Zu überprüfende Einträge: </b><f:count>{failureEntries}</f:count><br /><br />

    <table class="table2 typo3-dblist">
        <tr class="t3-row-header">
            <th class="th-spacer3">Tablename &amp; Options</th>
            <th class="th-spacer3">Differences</th>
        </tr>
        <f:for each="{failureEntries}" as="fEntry" key="fKey" iteration="itemIteration">
            <tr rowspan="2">
                <td class="innertableheader-spacer" colspan="2"><b>Table: {fEntry.tablename}</b></td>
            </tr>

            <tr class="outertr-spacer">
            <td>
                <f:form.checkbox property="failureEntries" value="list.{fEntry.tablename}.{fEntry.uuid}" id="failurecheckbox_{fEntry.uuid}" class="failure-checkbox" />&nbsp;Use Listentry(<span class="diff-g">green</span>)<br />
                <f:form.checkbox property="failureEntries" value="database.{fEntry.tablename}.{fEntry.uuid}" id="databasecheckbox_{fEntry.uuid}" class="database-checkbox" />&nbsp;Use Databaseentry(<span class="diff-r">red</span>/black)
            </td>
            <td>
                <table class="table3">
                    <tr class="t3-row-header"><th class="th-spacer3">Coloumn</th><th class="th-spacer3">Value</th></tr>
                    <f:for each="{diff}" as="diffEntry" key="diffkey">
                        <f:if condition="{diffkey} == {itemIteration.index}">
                            <f:for each="{diffEntry}" as="entry" key="key">
                                <tr>
                                    <f:if condition="{0:key} == {0:'tstamp'}">
                                        <f:then>
                                            <td><b>{key}: </b></td><td><b><f:format.raw>{entry}</f:format.raw></b></td> 
                                        </f:then>
                                        <f:else>
                                            <td><b>{key}: </td><td></b><f:format.raw>{entry}</f:format.raw></td> 
                                        </f:else>
                                    </f:if>
                                </tr>
                            </f:for>
                        </f:if>
                    </f:for>
                </table>
            </td>
            </tr>
        </f:for>
    </table>
    <f:form.submit value="Einträge korrigieren" />  
</f:form>


<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">

    $.noConflict();
    jQuery('document').ready(function() {

        jQuery('.failure-checkbox').click(function() {
            var failuresplit = jQuery(this).attr('id').split('_');
            var uuid = failuresplit[1];
            if (jQuery('#databasecheckbox_'+uuid).attr('disabled') == 'disabled') {
                jQuery('#databasecheckbox_'+uuid).removeAttr('disabled');
            } else {
                jQuery('#databasecheckbox_'+uuid).attr('disabled', 'disabled');
            }
        });

        jQuery('.database-checkbox').click(function() {
            var split = jQuery(this).attr('id').split('_');
            var uuid = split[1];
            if (jQuery('#failurecheckbox_'+uuid).attr('disabled') == 'disabled') {
                jQuery('#failurecheckbox_'+uuid).removeAttr('disabled');
            } else {
                jQuery('#failurecheckbox_'+uuid).attr('disabled', 'disabled');
            }
        });

    });

</script>