<table class="table">
    <tr class="column">
        <td class="column">
            <p><h4>Neue Deploymentlisten erstellen</h4>
                <br />Eine neue Liste beinhaltet alle ge&auml;nderten Datens&auml;tze
                seit dem zuletzt ausgef&uuml;hrten Deployment.</p><br />
                <f:form action="list" name="createdeploy" object="{deploy}">
                    <f:form.submit value="Ausführen" />   
                </f:form>
        </td>
    </tr>
    <tr class="column">
        <td class="column">
            <p><h4>Deployment ausf&uuml;hren</h4> <br />Hierbei werden 
                alle oben erzeugten Eintr&auml;ge in die entsprechende 
                Korrespondenztabelle eingef&uuml;gt.</p><br />
                <f:form action="deploy" name="executedeploy">
                    <f:form.submit value="Ausführen" />   
                </f:form>
        </td>
    </tr>
    <tr class="column">
        <td class="column">
            <p><h4>Cache leeren</h4> <br /> Cache aller registrierten Seiten 
                löschen damit nach Deployment &Auml;nderungen sichtbar werden.</p><br />
                <f:form action="clearCache" name="cacheClearing">
                    <f:form.submit value="Cache leeren" />   
                </f:form>
        </td>
    </tr>
</table>