<table class="table">
    <tr class="column">
        <td class="column">
            <h4>Create new deployment lists</h4><br />
            <p>Create a list of new or changed entries since the last deployment.</p><br />
            <f:form action="list" name="createdeploy" object="{deploy}">
                <f:form.submit value="Execute" />   
            </f:form>
        </td>
    </tr>
    <tr class="column">
        <td class="column">
            <h4>Execute the deployment</h4><br />
            <p>Insert or update all new entries from the list and copy the 
            resources from the source system.</p><br />
            <f:form action="deploy" name="executedeploy">
                <f:form.submit value="Execute" />   
            </f:form>
        </td>
    </tr>
    <tr class="column">
        <td class="column">
            <h4>Clear the cache</h4><br />
            <p>Clear all caches so that the changes get displayed.</p><br />
            <f:form action="clearCache" name="cacheClearing">
                <f:form.submit value="Execute" />   
            </f:form>
        </td>
    </tr>
</table>